<!--  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. -->
<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script th:src="|https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js|"></script>
    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Jin Personal Website</title>
</head>

<body>
<header th:replace="layout :: site-header"/>
<div class="container">

    <h3>Welcome to Jin's Home.</h3>
    <p>The Paper1: Optimizing the Age of Information with Segmentation and Predictive Scheduling <p>
    <a href="mypaper2022.pdf">download paper1 (PDF)</a>
    <a href="mypaper2025.pdf">download paper2 (PDF)</a>
    <ol>
        <li>You may download the paper in full version for your reference. </li>
    </ol>
    <div>
</body>
</html>
